name: Twitter Bot Check

on:
  schedule:
    - cron: '0 7,13,19 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodu Çek
        uses: actions/checkout@v3
      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Bağımlılıkları Yükle
        run: pip install requests
      - name: Botu Çalıştır
        env:
          PYTHONUNBUFFERED: 1 # Logları anında basması için
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          TWITTER_BEARER_TOKEN: ${{ secrets.TWITTER_BEARER_TOKEN }}
        run: python bot.py # Buradaki ismin bot.py olduğundan emin ol
